/* Font updates */
h6 {
  font-size: 1.25rem;
  font-weight: 700;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
header a,
header a:hover {
  color: inherit;
  font-size: 1rem;
}
/* Main home styles */
@media screen and (min-width: 800px) {
  .module-card,
  .task-card {
    /* max-width: 18rem; */
  }
}
body {
  padding-top: 0; /* override */
  background-color: #ffffff; /* override */
}

main {
  background-color: #fff;
  background-image: url("/images/background-img/default-bg.png");
  background-size: cover;
  background-position: center; 
  padding-bottom: 30px;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 30px, 16px
}
main.homepage  {
  background: url("/images/background-img/splash-bg.png");
  background-color: #fff;
  background-size: cover;
  background-position: center; 
  padding-top: 20px;
}

.homepage .tcLog, .homepage .langBtn{
  width:50%
}

.homepage .caLogContainer {
  text-align: right;
}

.homepage .droneSloganTop {
  height: 100px;
  display: inline-block;
  padding: 16px 0;
  text-align: right;
}
.homepage .droneSloganBtm {
  height: 100px;
  display: inline-block;
  padding: 16px 0;
  text-align: right;
}

.homepage .caLogo{
  width: 35%;
}

.homepage .btn {
  display: inline-block;
  width: 40%;
  margin: 5px;
}
.homepage .subtitle {
  color: #fff10f;
}

.homepage .langSelection {
  padding: 5rem 0;
  text-align: center;
}

#app {
  max-width: 750px;
  margin: 0 auto;
}

header {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
/* Button styles */
.btn {
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  /* width: 100%; */
  background-color: #393768;
  border-color: #393768;
  box-shadow: none;
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #272548;
  border-color: #272548;
}
.btn-primary:active {
  background-color: #141414;
}
.btn-secondary {
  color: #393768;
  background-color: transparent;
  background-image: none;
  border-color: #393768;
  /* width: 100%; */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #393768;
  background-image: none;
  border-color: #393768;
  /* width: 100%; */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
button:disabled,
button[disabled] {
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
}
.react-quiz-container .startQuizWrapper .startQuizBtn {
  width: 100%;
  background-color: #393768;
  border-color: #393768;
  box-shadow: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.15;
}
/* Card styles */
.card-image-task {
  display: inline-block;
  width: 100%;
  background: #fff;
}

.react-quiz-container{
  display: inline-block;
  width: 100% !important;
  background: #fff;
  margin:0 !important;
  padding:15px;

}
.card-task-img {
  width: 100%;
}
.module-card,
.task-card {
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 1rem;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  background: #fff;
}
.module-card .card-desc,
.task-card .card-desc {
  color: #2a7a92;
}
.card-image-step {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-step-img {
  width: -webkit-fill-available;
  max-width:100%; 
}
.card-title {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}
/* Accordion styles */
details {
  display: block;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  background: #fff;
}
details[open] {
  padding-bottom: 1em;
}

details > summary {
  padding: 1rem;
  background: #ebebeb;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-left: -1.1em;
  margin-right: -1.1em;
}

.tgl-panel {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}
/* Phase Accordion Styles */
.phase-card .phase-desc {
  font-size: 1rem;
  font-weight: normal;
}
.phase-card {
  margin-bottom: 10px;
}
.phase-caption {
  font-weight: normal;
  color: #393768;
  font-size: 0.95rem;
}
.phase-estimate {
  font-weight: 700;
}
.phase-summary {
  margin-left: 40px;
  margin-top: -20px;
}

/* Step Indicator Styles */
.StepProgress {
  position: relative;
  padding-left: 35px;
  list-style: none;
}
.StepProgress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}
.StepProgress-item {
  position: relative;
  counter-increment: list;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}
.StepProgress-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -39px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #393768;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #74b329;
}
.StepProgress-item.is-done::before {
  border-left: 3px solid #74b329;
}
.StepProgress-item.is-done::after {
  content: "✔";
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 3px solid #74b329;
  background-color: #393768;
}
.StepProgress-item.current::before {
  border-left: 3px solid #393768;
}
.StepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 19px;
  height: 18px;
  top: -4px;
  left: -40px;
  font-size: 14px;
  text-align: center;
  color: #393768;
  border: 3px solid #74b329;
  background-color: white;
}
.StepProgress strong {
  display: block;
}
/* One-off styles, aka white text for dark backgrounds */
.white-text {
  color: white;
}
.phase-title-h6 {
  color: #393768;
}
.phase-desc {
  color: #141414;
}

/* Grid padding */
.MuiGrid-root .MuiGrid-item {
  padding: 0.5rem;
}

.wb-invisible,
.wb-inv,
.wb-show-onfocus,
.wb-sl,
#wb-lng h2,
#wb-glb-mn h2,
#wb-srch h2,
#wb-srch label,
#wb-sm h2,
#wb-bc h2,
#wb-sec h2,
#wb-info h2,
#mb-pnl h3,
.wb-calevt-cal .cal-days td ul,
.wb-fnote dt,
#mb-pnl .srch-pnl label {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

#pointer {
  min-width: 100px;
  height: 40px;
  position: relative;
  background: #e8e8e8;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #e8e8e8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#pointer:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  border-radius: 50%;
  background-color: #393768;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #74b329;
}
/* Start Customize Aurora Step Indicator */
.step-indicator {
  margin: 0px auto;
  padding-top: 20px;
}

.step-indicator .steps li a {
  padding-top: 4rem;
}

.step-indicator .steps li:before {
  position: relative;
  z-index: 1;
}

.step-indicator .steps li:after {
  z-index: 0;
}

.step-indicator .steps li.complete {
  color: #393768;
}

.step-indicator .steps li.complete:before {
  border-color: #393768;
  content: "\2713";
}

.step-indicator .steps li.complete + li:after {
  background-color: #393768;
}

.step-indicator .steps li.active {
  color: #393768;
}

.step-indicator .steps li.active:before {
  border-color: #393768;
  box-shadow: 0 0 0 0.15rem #75b329;
}
/* End Customize Aurora Step Indicator */
h1,
.h4 {
  padding-top: 1em;
  font-weight: bold;
}

.questionWrapper{
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 1rem;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  background: #fff;
}
.questionWrapper h3 {
/* //background-color:red; */
font-size: 1rem;
}


